{% load i18n %}
{% trans "Translations" as title_str %}
{% include "wagtailadmin/shared/header.html" with title=title_str subtitle=page.title %}

<div class="nice-padding">
    <table class="listing">
        <thead>
            <tr class="table-headers">
                <th>{% trans "Language" %}</th>
                <th>{% trans "Page" %}</th>
                {% if has_translation_objects %}
                    <th>{% trans "Translation status" %}</th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for translation in translations %}
                <tr>
                    <td>{{ translation.instance.locale.get_display_name }}</td>
                    <td class="title">{{ translation.instance.get_admin_display_title }}</td>
                    {% if has_translation_objects %}
                        <td>
                            {% if translation.translation %}
                                <a href="{% url 'wagtail_localize_translation_management:detail' translation.translation.id %}" target="_blank">
                                    {{ translation.translation.get_status_display }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="listing__item--active">
                        {% if translation.instance == page %}
                            <b>{% trans "Current page" %}</b>
                        {% else %}
                            <ul class="actions">
                                <li>
                                    <a href="{% url 'wagtailadmin_pages:edit' translation.instance.id %}" class="button button-small button-secondary">{% trans "Edit" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'wagtailadmin_pages:view_draft' translation.instance.id %}" class="button button-small button-secondary" target="_blank" rel="noopener noreferrer">{% trans "View draft" %}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
