*.pyc
/build
/dist
/wagtail_localize.egg-info
/.coverage
/htmlcov
/.tox
/venv
/.vscode
/site
/test_wagtaillocalize.db
/wagtail_localize/static/wagtail_localize/js/wagtail-localize.js
/node_modules
/test-static
/test-media
.idea

.DS_Store
