ci:
  autofix_prs: false
  autoupdate_schedule: 'quarterly'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # keep in sync with .github/workflows/ruff.yml
    rev: 'v0.13.3'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v4.0.0-alpha.8'
    hooks:
      - id: prettier
        types_or: [markdown, css, scss, javascript, json, yaml, ts, tsx]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v9.37.0'
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@5.16.0
          - eslint-config-airbnb@17.1.1
          - eslint-config-prettier@^6.15.0
          - eslint-config-torchbox@^0.2.0
          - eslint-plugin-import@^2.23.4
          - eslint-plugin-jsx-a11y@6.4.1
          - eslint-plugin-react@7.24.0
          - typescript@3.9.9
          - '@typescript-eslint/eslint-plugin@1.13.0'
          - '@typescript-eslint/parser@1.13.0'
