{% extends "wagtailadmin/generic/edit.html" %}
{% load i18n %}

{% block titletag %}Translation request{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="translation request" subtitle=translation_request.id icon=view.header_icon %}

    <div class="nice-padding">
        <h2>Basic information</h2>
        <dl>
            <dt>Source Locale:</dt>
            <dd>{{ translation_request.source_locale }}</dd>

            <dt>Target Locale:</dt>
            <dd>{{ translation_request.target_locale }}</dd>

            <dt>Requested by:</dt>
            <dd>{% firstof translation_request.created_by.get_full_name translation_request.created_by %}</dd>

            <dt>Requested at:</dt>
            <dd>{{ translation_request.created_at }}</dd>
        </dl>

        <h2>Actions</h2>

        {% for action_module in action_modules %}
            {{ action_module.render }}
        {% empty %}
            <p>No actions can be performed on this request</p>
        {% endfor %}

        <h2>Pages</h2>

        <table class="listing">
            <thead>
                <tr>
                    <th class="name">Title</th>
                    <th class="name">Status</th>
                    <th class="name">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td class="title" style="padding-left: {% widthratio page.depth 1 10 %}px;">
                            {{ page.get_admin_display_title }}
                        </td>
                        <td>

                        </td>
                        <td>
                            <ul class="actions">

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for model, instances in other_models %}
            <h2>{{ model }}</h2>

            <table class="listing">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="name">Status</th>
                        <th class="name">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in instances %}
                        <tr>
                            <td class="title" style="padding-left: {% widthratio page.depth 1 10 %}px;">
                                {{ instance }}
                            </td>
                            <td>

                            </td>
                            <td>
                                <ul class="actions">

                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}
    </div>
{% endblock %}
