{% extends "wagtailadmin/generic/edit.html" %}
{% load i18n %}

{% block titletag %}Translation request{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="translation request" subtitle=translation_request.id icon=view.header_icon merged=1 %}

    <ul class="tab-nav merged">
        <li class="active"><a href="#basic">{% trans "Basic information" %}</a></li>
        <li><a href="#translate">{% trans "Translate" %}</a></li>
    </ul>

    <div class="tab-content">
        <section id="basic" class="active nice-padding">
            <h2>Basic information</h2>
            <dl>
                <dt>Source Locale:</dt>
                <dd>{{ translation_request.source.locale }}</dd>

                <dt>Target Locale:</dt>
                <dd>{{ translation_request.target_locale }}</dd>

                <dt>Requested by:</dt>
                <dd>{% firstof translation_request.created_by.get_full_name translation_request.created_by %}</dd>

                <dt>Requested at:</dt>
                <dd>{{ translation_request.created_at }}</dd>
            </dl>

            <h2>Progress</h2>
            {% with translation_request.get_progress as progress %}
                {{ progress.1 }} out of {{ progress.0 }} strings translated
            {% endwith %}
        </section>

        <section id="translate" class="nice-padding">
            <div style="margin-bottom: 10px; border: 1px solid #777; padding: 10px; padding-top: 0; border-radius: 3px; max-width: 1000px;">

                <h3>Machine translation</h3>
                <form action="{% url 'wagtail_localize_workflow:machine_translate' translation_request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button button-secondary">Translate with Google Translate</button>
                </form>
            </div>

            <div style="margin-bottom: 10px; border: 1px solid #777; padding: 10px; padding-top: 0; border-radius: 3px; max-width: 1000px;">

            <h3>Download / Upload PO file</h3>

                <a class="icon icon-download" href="{% url 'wagtail_localize_workflow:export_file' translation_request.id %}" download>Download PO file</a>

                <hr>

                <form action="{% url 'wagtail_localize_workflow:import_file' translation_request.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="file" name="file">

                    <button type="submit" class="button button-secondary">Upload translated PO file</button>
                </form>

            </div>

            <div style="margin-bottom: 10px; border: 1px solid #777; padding: 10px; padding-top: 0; border-radius: 3px; max-width: 1000px;">

                <h3>Translate here</h3>

                <form action="{% url 'wagtail_localize_workflow:translation_form' translation_request.id %}" method="post">
                    {% csrf_token %}

                    <ul>
                        {% for segment in segments %}
                            <li>
                                <h3>{{ segment.segment.text }}</h3>
                                <h4>Context: {{ segment.context.path }}</h4>
                                <p>
                                    <input type="text" name="segment-{{ segment.id }}" value="{{ segment.translation|default:'' }}">
                                </p>

                                <hr>
                            </li>
                        {% endfor %}

                        <li>
                            <button type="submit">Save</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
