{% extends "wagtailadmin/generic/edit.html" %}
{% load i18n %}

{% block titletag %}Translation request{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="translation request" subtitle=translation_request.id icon=view.header_icon %}

    <div class="nice-padding">
        <h2>Basic information</h2>
        <dl>
            <dt>Source Locale:</dt>
            <dd>{{ translation_request.source.locale }}</dd>

            <dt>Target Locale:</dt>
            <dd>{{ translation_request.target_locale }}</dd>

            <dt>Requested by:</dt>
            <dd>{% firstof translation_request.created_by.get_full_name translation_request.created_by %}</dd>

            <dt>Requested at:</dt>
            <dd>{{ translation_request.created_at }}</dd>
        </dl>

        <h2>Progress</h2>
        {% with translation_request.get_progress as progress %}
            {{ progress.1 }} out of {{ progress.0 }} strings translated
        {% endwith %}

        <h2>Actions</h2>
        {% for action_module in action_modules %}
            {{ action_module.render }}
        {% empty %}
            <p>No actions can be performed on this request</p>
        {% endfor %}
    </div>
{% endblock %}
