name: Ruff

on:
    push:
        branches:
            - main
            - 'stable/**'
    pull_request:
        branches: [main]

jobs:
    ruff:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  persist-credentials: false

            # keep in sync with .pre-commit-config.yaml
            - run: python -Im pip install --user ruff==0.11.8

            - name: Run ruff
              working-directory: .
              run: ruff check --output-format=github wagtail_localize
